[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
bcrypt = "*"
requests = "==2.0.0"
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
